/***************
GLOBAL STYLES
***************/

body {
	font-size: 125%;
}

.content {
	padding-top: 0;
	position: relative;
	z-index: 1;

	&:after {
		z-index: -1;
		background: white;
		content: "";
		display: block;
		width: 100%;
		height: 10em;
		position: absolute;
		top: -2em;
		left: 0;
		transform: skewY(-2deg);
		transform-origin: bottom left;
	}
	
	.monitor {
		text-align: center;
	}
	
	.h1, h2, h3, h4{
		color: #2a2e46;
		white-space: pre-wrap;
	}
	

		
	.img{ 
		text-align: center;
		margin: auto;
		display: block;
	}
}

.container {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}


/***************
HOMEPAGE STYLING
***************/

#home {

	.posts,
	.pageTitle,
	.pagination {
		width: 75%;
		float: none;
		margin: 0 auto 1.5em;
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}
}


/***************
HEADER STYLING
***************/

.header {
	height: 15em;
	position: relative;
	padding-bottom: 2em;

	.container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		max-width: 1000px;
		height: 150px;
		overflow: hidden;
	}
	
	.left-side{
		position: absolute;
		left: 10px;
		max-width: 30%;
		max-height: 100%;
	}
	
	.header-img{
		max-width: 80%;
	}
	
	.right-side{
		position: absolute;
		right: 0px;
		max-width: 70%;
		max-height: 80%;
	}
	
	
	
	h1 {
		font-size: 2em;
		letter-spacing: -3px;
		width : 100%; 
		padding-left: 0.5rem;
		line-height:2em
		
	}
	

	nav {
		float: left;
		clear: left;

		ul {
			margin: 0;

			li {
				display: inline;
				line-height: 3em;
				background: none;
				padding: 0 5px;
				border: none;

				a {
					color: white;
					font-size: .9em;
					text-decoration: none;
					padding: 0 .25em;

					&:hover {
						color: darken(white, 20%);
					}
				}

				&.current {
					padding-bottom: .25em;
					border-bottom: 4px solid rgba(255, 255, 255, .4);
				}
			}
		}
	}
}

// Large Header Size

.header--large {
	height: 50vh;

	.container {
		top: 90%;
		transform: translateY(-100%);
	}
}


/***************
MENU STYLING
***************/

.js {

	.nav-collapse {
		position: relative;
		max-height: none;

		&.closed {
			max-height: none;
		}

		ul li a {
			display: inline-block;
		}
	}
}

.nav-toggle {
	display: none;
}


/***************
POST STYLING
***************/

.post {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl,
	.pageTitle {
		width: 75%;
		float: none;
		margin: 0 auto 2rem;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		margin: 1rem auto;
		color: $blue
	}

	.pageTitle {
		margin: 2rem auto 1em;
	}

	.featuredImage {
		position: relative;
		margin-top: 2rem;

		&:before {
			background: white;
			content: "";
			display: block;
			width: 100%;
			height: 4em;
			position: absolute;
			top: -2em;
			left: 0;
			transform: skewY(-2deg);
			transform-origin: bottom left;
		}
	}
}


/***************
POST NAV STYLING
***************/

.postNav {

	.prev,
	.next {
		width: 50%;
	}

	.prev {
		float: left;
		text-align: left;
	}

	.next {
		text-align: right;
		float: right;
	}
}


/***************
FOOTER STYLES
***************/

.footer {
	&-links {
		float: right;
		color:  #2a2e46
	}

	.copy {
		text-align: center;
	}

	.container {
		position: relative;
		padding: 1rem 0;
	}

	.logo_footer {
		position: absolute;
		right: 0px;
		top: 10px;
	}
}


/***************
CONTACT PAGE STYLING
***************/

.contactContent {
	max-width: 48%;
	margin-right: 2%;
	float: left;
}

#contact {
	form {
		max-width: 48%;
		width: 48%;
		float: right;
		margin-right: 0;
	}
}

/***************
DARK THEME STYLING
***************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: white;
		color: black;
	}

	.content:after,
	.post .featuredImage:before {
		background: white;
	}
}