<div class="footer">
	<div class="container">
		<p class="copy">
			<!-- &copy;  -->
			{{ site.time | date: '%Y' }} • 
			<a href="https://gricad.univ-grenoble-alpes.fr/">GRICAD</a> •
			<a href="https://scienceouverte.univ-grenoble-alpes.fr/donnees/accompagner/cellule-data-grenoble-alpes/">CDGA</a>
		</p>

		<div class="footer-links">
			<ul class="noList">
				{%- if site.social.facebook -%}
					{%- include footer_links/facebook_icon.html -%}
				{%- endif -%}
				{%- if site.social.twitter -%}
					{%- include footer_links/twitter_icon.html -%}
				{%- endif -%}
				{%- if site.social.linkedin -%}
					{%- include footer_links/linkedin_icon.html -%}
				{%- endif -%}
				{%- if site.social.github -%}
					{%- include footer_links/github_icon.html -%}
				{%- endif -%}
				{%- if site.social.tumblr -%}
					{%- include footer_links/tumblr_icon.html -%}
				{%- endif -%}
				{%- if site.social.youtube -%}
					{%- include footer_links/youtube_icon.html -%}
				{%- endif -%}
				{%- if site.social.email -%}
					{%- include footer_links/email_icon.html -%}
				{%- endif -%}
				<a href="https://www.univ-grenoble-alpes.fr/"> <img class ="logo_footer" src="https://mlarrieu.gricad-pages.univ-grenoble-alpes.fr/open-research-data-monitor/assets/img/UGA_couleur.png" height = "40" /></a>
			</ul>
		</div>
	</div>
</div>
<!-- end .footer -->
