<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<title>{{ page.title }}</title>

	<!-- Open Graph Meta -->
	<meta content="{{ site.title }}" property="og:site_name" />
	{%- if page.title -%}
	<meta content="{{ page.title }}" property="og:title" />
	{%- else -%}
	<meta content="{{ site.title }}" property="og:title" />
	{%- endif -%} {%- if page.title -%}
	<meta content="article" property="og:type" />
	{%- else -%}
	<meta content="website" property="og:type" />
	{%- endif -%} {%- if page.description -%}
	<meta content="{{ page.description }}" property="og:description" />
	{%- else -%}
	<meta content="{{ site.description }}" property="og:description" />
	{%- endif -%} {%- if page.url -%}
	<meta content="{{ page.url | absolute_url }}" property="og:url" />
	{%- endif -%} {%- if page.date -%}
	<meta
		content="{{ page.date | date_to_xmlschema }}"
		property="article:published_time"
	/>
	<meta content="{{ '/about/' | absolute_url }}" property="article:author" />
	{%- endif -%} {%- if page.image -%}
	<meta
		content="{{ '/assets/img/' | append:page.image | absolute_url }}"
		property="og:image"
	/>
	{%- else -%}
	<meta
		content="{{ '/assets/img/touring.jpg' | absolute_url }}"
		property="og:image"
	/>
	{%- endif -%} {%- if site.keywords -%}
	<meta content="{{ site.keywords }}" property="og:keywords" />
	{%- endif -%}

	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@{{ site.social.twitter }}" />
	<meta name="twitter:creator" content="@{{ site.social.twitter }}" />
	{%- if page.title -%}
	<meta name="twitter:title" content="{{ page.title }}" />
	{%- else -%}
	<meta name="twitter:title" content="{{ site.title }}" />
	{%- endif -%} {%- if page.url -%}
	<meta name="twitter:url" content="{{ page.url | absolute_url }}" />
	{%- endif -%} {%- if page.description -%}
	<meta name="twitter:description" content="{{ page.description }}" />
	{%- else -%}
	<meta name="twitter:description" content="{{ site.description }}" />
	{%- endif -%} {%- if page.image -%}
	<meta
		name="twitter:image:src"
		content="{{ '/assets/img/' | append:page.image | absolute_url }}"
	/>
	{%- else -%} 
	<meta
		name="twitter:image:src"
		content="{{ '/assets/img/touring.jpg' | absolute_url }}"
	/>
	{%- endif -%}

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="https://mlarrieu.gricad-pages.univ-grenoble-alpes.fr/open-research-data-monitor/assets/img/favicon.ico"/>

	<!-- Come and get me RSS readers -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
	href="{{ '/feed.xml' | absolute_url }}" />

	<!-- Stylesheet -->
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" />

	<!-- Canonical URL -->
	<link
		rel="canonical"
		href="{{ page.url | absolute_url | replace:'index.html','' }}"
	/>
	
	{% seo %}
	<!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//matomo-gates.u-ga.fr/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->


</head>
