 <div class="header {% if site.header == 'large' %}header--large{% endif %}">
     <div class="container">
		<div class="left-side">
		<img class ="header-img" src="https://mlarrieu.gricad-pages.univ-grenoble-alpes.fr/open-research-data-monitor/assets/img/logo_blanc.svg" href="../" alt="Logo UGA">
		</div>
		 <div class="right-side">
			<h1>
			 <a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
			 <nav class="nav-collapse">
				 <ul class="noList">
					 {%- for link in site.navigation -%}{%- assign current = nil -%}{%- if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' -%}{%- assign current = 'current' -%}{%- endif -%}
					 <li class="element {%- if forloop.first -%}first{%- endif -%} {{ current }} {%- if forloop.last -%}last{%- endif -%}">
						 <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
					 </li>
					 {%- endfor -%}
				 </ul>
			 </nav>
		</div>
     </div>
 </div><!-- end .header -->
