/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/

body {
  .intro {
    font-size: 1.25em;
    line-height: 1.7;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: .5rem 0 1.5rem;
  font-family: $sans-serif;
  color: #2a2e46;
}

// Headings
h1, .h1 {
  font-size: 1.5em; // 2x body copy size = 32px 
  line-height: 1.25; // 45px / 36px
  color: #2a2e46;
}

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 1.75em; // 2.5x body copy size = 40px
    line-height: 1.125;
	color: #2a2e46;
  }
}

@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 2em; // 3x body copy size = 48px 
    line-height: 1.05; // keep to a multiple of the 20px line height and something more appropriate for display headings
	color: #2a2e46;
  }
}

h2, .h2 {
  font-size: 1.25em; // 1.625x body copy size = 26px 
  line-height: 1.25; // 30px / 26px
  color: #2a2e46;
}

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 1.5em; // 2x body copy size = 32px
    line-height: 1.25;
	color: #2a2e46;
  }
}

@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 1.75em; // 2.25x body copy size = 36px
    line-height: 1.25;
	color: #2a2e46;
  }
}

h3, .h3 {
  font-size: 1em; // 1.375x body copy size = 22px
  line-height: 1.25; //25px / 22px
  color: #2a2e46;
}

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.25em; // 1.5x body copy size = 24px
    line-height: 1.25;
	color: #2a2e46;
  }
}

@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.5em; // 1.75x body copy size = 28px
    line-height: 1.25;
	color: #2a2e46;
  }
}

h4, .h4 {
  font-size: 1.25em; // 1.125x body copy size = 18px
  line-height: 1.25;
  color: #2a2e46;
}

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.05; // 22px / 18px
	color: #2a2e46;
  }
}

blockquote {
  font-size: 1.25em; // 20px / 16px
  line-height: 1.25; // 25px / 20px
  padding: 0;  
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.25em; // 24px / 16px
    line-height: 1.25; // 35px / 24px
	padding: 10%
  }
}
