---
---

.lt-ie9.js {
	.logo {
		padding-left: 20px;
		display: inline;
	}

	.nav-collapse {
		clip: auto;
		width: 100%;
		float: right;
		max-height: none;
		clear: none;
		overflow: visible;
		text-align: right;
		padding-right: 20px;

		ul {
			padding-top: 8px;

			li {
				width: auto;
				background: none;
				display: inline-block;
				margin-left: 20px;
				border: none;
			}
		}
	}
}
